NODE_ENV=test
DEBUG=n
HOST=0.0.0.0
PORT=3000

BITCOIN_QUICK_NODE_BASE_URLS=

BITCOIN_BALANCES_INDEXER_MAX_BLOCK_HEIGHT=2

BITCOIN_TRANSACTIONS_QUEUE_WORKERS_NUM=1
BITCOIN_TRANSACTIONS_QUEUE_MAX_LENGTH=1
BITCOIN_TRANSACTIONS_QUEUE_MAX_TRANSACTIONS_PER_BATCH=4

BITCOIN_TRANSACTIONS_QUEUE_LOADER_INTERVAL_MS=300
BITCOIN_TRANSACTIONS_QUEUE_LOADER_MAX_INTERVAL_MULTIPLIER=1