NODE_ENV=development
HOST=localhost
PORT=3000

DB_HOST=0.0.0.0

BITCOIN_NETWORK_PROVIDER_SELF_NODE_HOST=
BITCOIN_NETWORK_PROVIDER_SELF_NODE_PORT=
BITCOIN_NETWORK_PROVIDER_SELF_NODE_PASSWORD=
BITCOIN_NETWORK_PROVIDER_SELF_NODE_USERNAME=

BITCOIN_NETWORK_PROVIDER_QUICK_NODE_BASE_URLS=