NODE_ENV=test
DEBUG=0
HOST=0.0.0.0
PORT=3000

BITCOIN_BALANCES_INDEXER_NETWORK_PROVIDER_SELF_NODE_URL=
BITCOIN_BALANCES_INDEXER_NETWORK_PROVIDER_QUICK_NODE_URLS=

BITCOIN_BLOCKS_QUEUE_LOADER_STRATEGY_NAME=pull-network-provider-by-workers

BITCOIN_INDEXER_MAX_BLOCK_HEIGHT=3

BITCOIN_BLOCKS_QUEUE_WORKERS_NUM=1
BITCOIN_BLOCKS_QUEUE_MAX_LENGTH=1

BITCOIN_BLOCKS_QUEUE_LOADER_INTERVAL_MS=300
BITCOIN_BLOCKS_QUEUE_LOADER_MAX_INTERVAL_MULTIPLIER=1